## Deliverable 3. Create a Travel Itinerary Map.

In [35]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
import sys
sys.path.append('../')
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [36]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
clean_hotel_df = pd.read_csv("../Vacation_Search/WeatherPy_vacation.csv")
clean_hotel_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Busselton,AU,72.00,clear sky,-33.6500,115.3333,Observatory Guest House
1,4,Cockburn Town,TC,73.62,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
2,7,Sao Joao Da Barra,BR,70.03,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas
3,12,Road Town,VG,75.00,clear sky,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
4,14,Avarua,CK,71.60,scattered clouds,-21.2078,-159.7750,Paradise Inn

In [37]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dt>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [38]:
# 4a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
vacation_df = clean_hotel_df
vacation_df.head(5)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,2,Busselton,AU,72.00,clear sky,-33.6500,115.3333,Observatory Guest House
1,4,Cockburn Town,TC,73.62,scattered clouds,21.4612,-71.1419,Osprey Beach Hotel
2,7,Sao Joao Da Barra,BR,70.03,overcast clouds,-21.6403,-41.0511,Pousada Porto De Canoas
3,12,Road Town,VG,75.00,clear sky,18.4167,-64.6167,"ZINGARA 76ft Catamaran, full crew-all included"
4,14,Avarua,CK,71.60,scattered clouds,-21.2078,-159.7750,Paradise Inn

In [40]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Cabedelo"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Cabedelo"]
vacation_stop1 = vacation_df.loc[vacation_df["City"] == "Santa Rita"]
vacation_stop2 = vacation_df.loc[vacation_df["City"] == "Natal"] 
vacation_stop3 = vacation_df.loc[vacation_df["City"] == "Touros"]

In [41]:
# 6. Get the latitude-longitude pairs as tuples from each vacation DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

print(f'Start: {start}, End: {end}')
print(f'Stop 1: {stop1}, Stop 2: {stop2}, Stop 3: {stop3}')

Start: (-6.9811, -34.8339), End: (-6.9811, -34.8339)
Stop 1: (-7.1139, -34.9781), Stop 2: (-5.795, -35.2094), Stop 3: (-5.1989, -35.4608)

In [42]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop1, stop2, stop3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,168,Cabedelo,BR,75.2,few clouds,-6.9811,-34.8339,Hotel Pigalle
1,146,Santa Rita,BR,75.2,few clouds,-7.1139,-34.9781,Infinity Motel
2,348,Natal,BR,75.2,scattered clouds,-5.7950,-35.2094,Villa Park Hotel | Natal
3,239,Touros,BR,75.2,broken clouds,-5.1989,-35.4608,INN NEW HORIZON

In [44]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dt>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [45]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]
max_temp = itinerary_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))